body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
}

.header,
.dark-blue,
.footer {
  background-color: #1F2937;
  color: #F9FAF8;
}

.header {
  height: 60px;
  display: flex;
  padding: 0 10vw;
  justify-content: space-between;
  align-items: center;
}

/* .main-content { */
  /* display: flex; */
  /* flex-direction: column; */
/* } */

.section {
  padding: 5vh 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 300px;
}

.card h1 {
  font-size: 48px;
  font-weight: 900;
  margin-block-start: 0;
  margin-block-end: 0;
}

.dark-blue img{
  height: auto;
  width: 300px;
}

button {
  border: none;
  padding: 8px 32px;
  border-radius: 8px;
}

.gallery {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  border-radius: 8px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.gallery p {
  width: 150px;
  text-align: center;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

.header a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.card p {
  color: #E5E7EB;
  font-size: 18px;
}

.title-site {
  font-size: 24px;
}

.card button,
.light-blue,
.light-blue button {
  background-color: #3882F6;
  color: #F9FAF8;
}

.light-blue button {
  border-style: solid;
  flex-grow: 0;
  flex-shrink: 0;
}

.light-blue p {
  color: #E5E7EB;
}

.section h2 {
  font-size: 36px;
  font-weight: 900;
  margin-block-start: 0;
}

.white {
  color: #1F2937;
}

.light-blue {
  display: flex;
  border-radius: 8px;
  align-items: center;
  padding: 32px 96px;
  justify-content: space-between;
  gap: 16px;
  flex-grow: 1;
}

.message p,
.message h3 {
  margin-block-end: 0;
  margin-block-start: 0;
}

.gray {
  background-color: #E5E7EB;
  color: #1F2937;
}

.gray em {
  font-size: 36px;
  font-weight: 100;
}

.gray strong {
  align-self: flex-end;
  margin-left: auto;
}

.footer {
  height: 60px;
  display: flex;
  padding: 0 10vw;
  justify-content: center;
  align-items: center;
}